<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>websocket直播间</title>
    <script src="http://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <script src="js/jquery-1.11.3.js"/>
</head>
<body>
    <h3>当前直播间号为14866</h3>
    <div>
        <input type="text" id="content" />
        <button id="send">发送</button>
    </div>
    <div id="output"></div>
<script>
    var url =  window.location.href;
    var hid =  url.split("?hid=")[1];
    var stompClient = null;
    var socket = new SockJS('/clientLink'); //1
    stompClient = Stomp.over(socket);//2
    stompClient.connect({}, function(frame) {//3
        console.log('开始进行连接Connected: ' + frame);
        /*stompClient.subscribe('/topic/msgInfo', function(response){ //4
         console.log("response:"+response);
         showResponse(JSON.parse(response.body));
         });*/
        stompClient.subscribe('/user/'+hid+'/message',function(msg){
            show(msg);
        });
    });
    $("#send").click(function () {
        var content = $('#content').val();
        stompClient.send("/app/send", {}, JSON.stringify({'hid':hid,'msg':content}));//5
    });

    function showResponse(message) {
        var response = $("#output");
        var json = JSON.stringify(message);
        console.log("json:内容啊"+json);
        response.append("<tr><td>" + json + "</td></tr>");
    }
    function show(message) {
        console.log("message.body:"+message.body);
        $("#output").append("<tr><td>" + message.body + "</td></tr>");
    }
</script>
</body>
</html>