<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>直播列表</title>
    <script src="js/jquery-1.11.3.js"/>
    <style>
        .div_inline{
            display: inline-block;
        }
        .img_size{
            height: 200px;
            width: 300px;
        }
    </style>
</head>
<body>
<div class="div_inline">
    <a href="room?hid=896732">
        <img class="img_size" src="img/1.jpg"/>
        <div>直播间1</div>
    </a>
</div>
<div class="div_inline">
    <a href="room?hid=896732">
        <img class="img_size" src="img/2.jpg"/>
        <div>直播间2</div>
    </a>
</div>
<div class="div_inline">
    <a href="room?hid=896732">
        <img class="img_size" src="img/3.jpg"/>
        <div>直播间3</div>
    </a>
</div>
</body>
</html>