<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>直播间</title>
    <script src="http://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.js"></script>
    <script src="js/jquery-1.11.3.js"/>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/jquery.danmu.min.js"></script>
    <style>
        .div_inline{
            display: inline-block;
            vertical-align: top;
        }
        .left_div_size{
            width: 600px;
            height: 600px;
        }
        #video{
            text-align: center;
        }
        .right_div_size{
            width: 200px;
            height:600px;
        }
        .right_div_content{
            overflow-y:scroll;
            height: 400px;
        }
    </style>
</head>
<body>
    <div class="div_inline left_div_size">
        <div>左侧直播</div>
       <img id="video" src="img/1.jpg" width="600px" height="400px"/>

    </div>
    <div class="div_inline right_div_size">
        <div>右侧聊天室</div>
        <input id="sendValue" type="text" placeholder="发送内容"/><button id="send"> 发送</button>
        <div class="right_div_content">
            聊天内容
        </div>
    </div>
    <script>

    </script>
</body>
</html>